[DEFAULT]
# LOCAL or AWS
DATA_LOCATION=LOCAL

[LOCAL]
SONG_DATA=data/song_data/*/*/*/*.json
LOG_DATA=data/log-data/*.json
OUTPUT_DATA=data/parquet/

[AWS]
SONG_DATA=data/song_data/*/*/*/*.json
LOG_DATA=data/log-data/*.json
OUTPUT_DATA=data/parquet/
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
